"*":
  "exception-reporting":
    userId: "11181649-8e12-fddd-aa0b-5891e316afd1"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "one-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    invisibles: {}
